#bioPage {
  padding-top: 100px;
  padding-bottom: 110px;
  //background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); //Billy Huynh
  // background: 
  // radial-gradient(black 15%, transparent 16%) 0 0,
  // radial-gradient(black 15%, transparent 16%) 8px 8px,
  // radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  // radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;;
  // background-color:#282828;
  // background-size:16px 16px;
  background-color: white;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center;
  //background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: -50px;
}

.headShot {
  width: 250px;
  height: auto;
  margin: 5px 0 5px 50px;
}

.bioInfoDiv {
  padding: 0 200px 0 200px;
  margin: 0 150px 0 150px;
  background: 
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;;
  background-color:#282828;
  background-size:16px 16px;
  color: white;
  border-radius: 25px;
}

.powerT {
  width: 30px;
  height: auto;
}

.cumberland {
  width: 30px;
  height: auto;
}

.nss {
  width: 30px;
  height: auto;
}

.nss2 {
  color: #FF851B;
}