@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
    // background-image: url("https://media.licdn.com/dms/image/C4E03AQH8q1C75zb3Vw/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=evPwGVao2a92UxW05UccVrA4Zz3PpVisqrnMBBD7PG4");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
}

.hide {
    display: none;
}

.heroImage {
    padding: 8% 0 0 0;
    width: 100%;
}

#holder {
    margin: 5% 0 0 0;
}

// .fullPage {
//     margin: 50px 0 0 0;
// }

// .rt-footer {
//     display: flex;
//     flex-direction: row;
// }

// #technologiesPage {
//     right: 100px;
// }

// #holder {
//     position: relative;
//     width: 100px;
//     height: 100px;
// }

// #holder,
// #container2 {
//   width: 75%;
//   height: 100%;
//   position: absolute;
//   top: 2%;
//   left: 75%;
//   right: 500px;
// }

// .techStack {
//     z-index: 10;
//   }