.techStack {
  // background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80");
  // padding: 0 0 0 100px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // align-content: center;
  // background-position: center;
  // min-height: 75%;
    padding: 50px 200px;
    margin: 0 150px 140px 150px;
    background: 
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;;
    background-color:#282828;
    background-size:16px 16px;
    color: white;
    border-radius: 25px;
}

#technologiesPage {
  padding: 100px 0 0 0;
  
}

#techLogo {
  // width: 200px;
  height: 100px;
  width: auto;
  margin: 20px;
  align-content: center;
}

.technology-card {
  background-color: rgba(255,255,255,.1);
}

.techHeading {
  font: 400 50px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}