.navUpdate {
  background-color: transparent;
}

.nav-link {
  color: white;
}

#navToBio:hover {
  color: rgb(209, 151, 104);
}

#navToTechnologies:hover {
  color: rgb(209, 151, 104);
}

#navToProjects:hover {
  color: rgb(209, 151, 104);
}

#home-link:hover {
  color: rgb(209, 151, 104);
}