.navUpdate {
  background-color: transparent;
}

.nav-link {
  color: white;
}

#navToBio:hover {
  color:  #FF851B;
}

#navToTechnologies:hover {
  color:  #FF851B;
}

#navToProjects:hover {
  color:  #FF851B;
}

#home-link:hover {
  color:  #FF851B;
}