.projectCard {
  margin: 0 0 20px 0;
}

.project-screenshot {
  padding: 10px;
  background-color: white;
  height: 300px;
  width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.projectCard {
  border: 2px solid black;
  border-radius: 2px;
  margin: 0 10px;
}

.cardTitle {
  text-align: center;
}

.cardBody {
  background-color: white;
}