.projectCard {
  margin: 0 0 20px 0;
}

.project-screenshot {
  padding: 10px;
  background-color: transparent;
  height: 200px;
  width: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.projectCard {
  border: 2px solid black;
  border-radius: 5px;
  margin: 25px;
  width: 350px;
  height: auto;
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80");
}

.cardTitle {
  text-align: center;
}

.cardBody {
  background-color: transparent;
}